.cursor-hand {
  cursor: pointer;
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0 !important;
}

.search { position: relative; }
.search input { 
  text-indent: 20px;
}
.search input:focus {
  outline: 0 !important;
  -webkit-appearance:none;
  box-shadow: none !important;  
  }
  
.search .fa-search { 
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 15px;
  z-index: 100;
}