
<app-image-grid title="TRENDING GIFS"  [total]="totalRecords$ | async" [data]="(data$ | async)?.data"></app-image-grid>
<div class="row">
  <br>
</div>

<div class="row d-flex justify-content-center">
  <pagination 
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;" 
    [boundaryLinks]="true" 
    [directionLinks]="true" 
    [itemsPerPage]="8" 
    [maxSize]="10" 
    [totalItems]= "totalRecords$ | async" 
    (pageChanged)="onPageChange($event)">
  </pagination>
</div>
