<div class="container">
  <div class="row">
    <br>
  </div>
  <div class="row">
    <div class="col no-gutters no-padding">
      <h1>
        <span class="cursor-hand" (click)="onHome()">iSoftBet</span>
      </h1>
    </div>
    <div class="col-auto">
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-link no-gutters" (click)="onMyCollection()">MY COLLECTION ({{(collectionNo$ | async)?.length}})</button>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    Select upload method:
  </div>
  <div class="row w-100">
    <div class="col-2">
      <input class="cursor-hand" type="radio" (change)="onItemChange($event)" name="upload" id="local" value="local" [ngModel]="method"/>
      &nbsp;
      <label class="cursor-hand" for="local">local file</label> 
    </div>
    <div class="col">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" required (change)="onClick($event.target.files, tags.value)">
        <label #labelImport class="custom-file-label" for="validatedCustomFile">Choose local file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>      
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    or
  </div>
  <div class="row w-100">    
    <div class="col-2">
      <input class="cursor-hand" type="radio" (change)="onItemChange($event)" name="upload" id="url" value="url" [ngModel]="method"/>
      &nbsp;
      <label class="cursor-hand" for="url">url link</label> 
    </div>
    <div class="col">
      <input #urlLink class="py-1 col" placeholder="  Enter GIF URL">
    </div>    
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row w-100">
    <label>Enter tags separated by comma:</label>
  </div>
  <div class="row w-100">
    <textarea #tags class="col"></textarea>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary" (click)="onUpload(urlLink.value, tags.value)">Upload</button>
  </div>
</div>